:root {
  --main-font: "Montserrat", sans-serif;
  --yellow: #ffc326;
  --dark: #232323;
  --shadow: #b4b4b430;
}

body {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #181618;
}

header {
  background-image: url(/images/header.png);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  text-align: center;
  padding: 90px 0 95px 0;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  max-width: 55%;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: lighter;
}

header h1 span {
  color: var(--yellow);
  font-weight: bold;
}

header p {
  font-size: 1.3em;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(35, 35, 35, 0.8);
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  box-shadow: -5px -3px 12px -4px #494242;
}

nav a {
  font-family: var(--main-font);
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding: 0 80px;
}

.logo img {
  max-width: 240px;
}

.logo span {
  display: block;
}

.cta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--yellow);
}

.cta article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  color: var(--dark);
  font-size: 1.3em;
}

.call-us {
  background-color: var(--dark);
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.cta a {
  text-decoration: none;
  color: var(--dark);
}

.call-us a {
  color: var(--yellow);
  font-size: 1.5em;
  font-weight: bold;
}

.cta i {
  background-color: var(--shadow);
  padding: 10px;
  border-radius: 50%;
  font-size: 2em;
  color: white;
  margin-top: 10px;
}

nav .logo span:nth-child(2) {
  color: var(--yellow);
  font-weight: bold;
}

nav .logo span:nth-child(1) {
  font-weight: lighter;
}

nav a:hover {
  color: var(--yellow);
}

#about {
  max-width: 80%;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#about article:nth-child(1) {
  padding: 50px;
}

#about h2 {
  font-size: 2.5em;
  text-transform: uppercase;
}

#about .subtitle {
  font-weight: lighter;
  margin-top: 0;
}

#about ul {
  padding: 0;
}

#about h2 {
  margin-bottom: 0;
  font-weight: lighter;
}

#about ul li {
  border-bottom: 1px solid var(--shadow);
  padding: 8px 0;
  list-style: none;
}

#about ul li i {
  color: var(--yellow);
  font-size: 1.3em;
  margin-right: 8px;
}

section p {
  line-height: 1.6;
  margin-bottom: 15px;
}

#map {
  position: relative;
}

#map::before {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  background: url(./images/hook.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  content: '';
}

#gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: -10px;
}

#gallery img {
  max-width: 100%;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Media Queries */
@media (max-width: 600px) {
  header h1 {
    font-size: 2em;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 10px 0;
  }

  section {
    padding: 10px;
  }

  .service-item,
  .why-choose-us-item {
    margin-bottom: 20px;
  }

  .service-icon,
  .why-choose-us-item .icon {
    font-size: 3em;
    margin-bottom: 5px;
  }
}
