:root {
  --main-font: "Montserrat", sans-serif;
  --yellow: #ffc326;
}

body {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #181618;
}

header {
  background-image: url(/images/header.png);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  text-align: center;
  padding: 90px 0 95px 0;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  max-width: 55%;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: lighter;
}

header h1 span {
  color: var(--yellow);
  font-weight: bold;
}

header p {
  font-size: 1.3em;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(35, 35, 35, 0.8);
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  box-shadow: -5px -3px 12px -4px #494242;
}

nav a {
  font-family: var(--main-font);
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}

nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding: 0 80px;
}

nav .logo img {
  max-width: 240px;
}

nav .logo span {
  display: block;
}

nav .logo span:nth-child(2) {
  color: var(--yellow);
  font-weight: bold;
}

nav .logo span:nth-child(1) {
  font-weight: lighter;
}

nav a:hover {
  color: var(--yellow);
}

section {
  margin: 80px auto;
  padding: 20px;
  background-color: white;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  text-align: center;
  max-width: 800px;
}

section h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 20px;
}

section p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.separator {
  height: 2px;
  background-color: #ccc;
  margin: 40px 0;
}

.service-item,
.why-choose-us-item {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-icon,
.why-choose-us-item .icon {
  font-size: 4em;
  color: #333;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.map {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

/* Media Queries */
@media (max-width: 600px) {
  header h1 {
    font-size: 2em;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 10px 0;
  }

  section {
    padding: 10px;
  }

  .service-item,
  .why-choose-us-item {
    margin-bottom: 20px;
  }

  .service-icon,
  .why-choose-us-item .icon {
    font-size: 3em;
    margin-bottom: 5px;
  }
}
